body, header {
    margin: 0px;
    padding: 0px;
}

h1 {
    display: flex;
    align-items: center;
}

.patabranca{
    margin-right: 5px;
    width: 50px;
    height: 50%;
} 

.pataimg {
    height: 35px;
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("../img/cachorroMain.png");

    header {

        padding-inline: 16px ;
     
     .nav {
         max-width: 1920px;
         height: 70px;
         margin-inline: auto ;
     
         display: flex;
     
         align-items: center;
     
         .logo   {
         padding-left: 5%;
         }
     
         .nav-list {
             display: flex;
             gap: 30px;
             list-style: none;

             .dropdown-menu {
                position: absolute;
                box-shadow: 0 0 2px black;
                display: none;
                background-color: #0364a5;
            }
            
            .dropdown-menu a{
                display: block;
            }
            
            .dropdown:hover .dropdown-menu{
                display: block;
            }
         }
         
         .nav-list a {
             color: #fff;
             padding-block: 16px;
             justify-content: start;
             text-decoration: none;
         }

         .nav-list a:hover {
            color:#00d4ff ;
         }
     }
     }

     .nav-list ul li:hover>ul {
        display: block;
    }

    .hero-text {
        width: 40%;
        margin-left:5% ;
        margin-top: 7%;

    }
    
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid hwb(0 100% 0%);
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    transition: 0.3s;
}

.container-shop {
    width: 85%;
    margin-left: 7.5%;

    .logo-shop {
        border-bottom: 2px solid rgb(199, 196, 196);
        margin-bottom: 3%;
        padding-top: 6%;
    }
 
    .featured-products h3 {
        padding-left: 2%;
    }
    .tittle-searchbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;   
    }

    .btn-filters {
        display: flex;
        justify-content: center;
        height: 40px;
        align-items: center; 
    }
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 2%;

    .img-product {
        width: 30%;
    
        .img-list {
            width: 100%;
            height: 90%;
            padding-top: 5%;
            
        }
        
    }
}

.hidden {
    display: none;
}



.product-card {
    position: relative;
    width: 150px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card2 {
    position: relative;
    width: 150px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.product-card:hover .product-image {
    transform: scale(1.1); /*efeito de zoom*/
}

.product-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #494949b3;
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.product-card:hover .product-overlay {
    opacity: 1;
    transform: translateY(0); /*animação para aparecer suavemente*/
}

.product-card2:hover .product-overlay {
    opacity: 1;
    transform: translateY(0); /*animação para aparecer suavemente*/
}

.quantity-container {
    display: flex;
    align-items: center;
    background-color: rgb(7, 52, 82);
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
    width: 15%;
   
}

.price {
    float: left;
    padding-left: 10%;
    padding-top: 5%;
}

.desc   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 0%;
}

#container-services {
    width: 85%;
    margin-left: 7.5%;


    .logo-services  {
        border-bottom: 2px solid rgb(199, 196, 196);
            margin-bottom: 3%;
            padding-top: 8%;
    }

   
}

.grid-container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 3%;
    width: 95%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
}
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.image-container:last-child {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
}

.image.container:hover .product-overlay {
    opacity: 1;
    transform: translateY(0); /*animação para aparecer suavemente*/

}

.image-container:hover .text-overlay {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.desc-services   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    
    .desc-services p {
        text-align: justify;
        width: 80%;
    }
}




.container-about-us {
    width: 85%;
    margin-left: 7.5%;

    .logo-about-us  {
        border-bottom: 2px solid rgb(199, 196, 196);
            margin-bottom: 3%;
            width: 100%;
           padding-top: 8%;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 45%;
        padding-top: 3%;
        padding-left: 3%;
    }
 
    .about-images {
        width: 45%;
        width: 40%;
        padding-right: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .about-images img {
        width: 100%;
        padding-right: 2%;
    }

    .about-content {
        display: flex;
        justify-content: space-between;
    
    }
}

.logo-our-team {
    border-bottom: 2px solid rgb(199, 196, 196);
    margin-top: 8%;
}

.our-team {
    width: 85%;
    padding-left: 7.5%;
}

.content-team {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.team-img {
    width: 350px;
    padding-top: 20%;
}

.content-team img {
    width: 100%;
    
}

.social-links {
    width: 100%;
    display: flex;
    display: inline-block;
    
}

.social-links img {
    width: 10%;
    margin-right: 8%;
}

#blog {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 8%;

    .content-blog {
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .img-video {
        width: 45%;
    }

    .img-video img {
        width: 100%;
        height: 75%;
        margin-top: 10%;

    }

    .content-text-blog {
        width: 45%;
        margin-top: 3%;
    }

    .logo-blog {
        border-bottom: 2px solid rgb(199, 196, 196);
    }

    .tittle-blog {
        margin-bottom: 15%;
    }
}

.contact {
    background:#0f172a;
    margin-bottom: 0;
    padding-bottom: 0;
    .get-in-touch {
        width: 100%;
        padding-top: 4%;
        border-bottom: 2px solid rgb(199, 196, 196);
    }

    .geral {
        width: 85%;
        margin-left: 7.5%;
    }

    .forms {
        background: #f9f9f9;
        width: 40%;
        border-radius: 12px;
        padding: 1%;
        padding-top: 2%;
        margin-top: 4%;
        margin-bottom: 4%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        font-family: "Montserrat";
        color: #333;
        margin-left: 5%;
    }

    .fieldzim  {
        border: none;
        padding: 0;
        margin: 0;
    }

    .label {
        display: block;
        margin: 1%;
        font-size: 1.2em;
        color: #555;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width:100%;
        padding: 1%;
        margin-bottom: 1.5%;
        margin-top: 2%;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 1.1em;
        box-sizing: border-box;
        transition: border-color 0.2s;
    }

    .name-form {
        width: 95%!important;
    }

    textarea {
        height: 150px ;
    }

    
    
    .input-group {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .name-container {
        display: flex;
        gap: 10px;
    }

    .container-get-in-touch {
        display: flex;
        gap: 3%;
    }

    .aside-contact ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25%;
        gap: 5%;
    }

    .aside-contact li {
        text-decoration: none;
        list-style: none;
    }

    .img-aside-contact {
        width: 12%;
        margin-bottom: 3%;
    }

    .img-aside-contact img {
        width: 100%;
    }
    
}

#footer {
    background: #0f172a; 
    margin-top: 0;
    padding-top: 0%;
    border-top: 2px solid rgb(199, 196, 196);
    color: white;

    .all-content {
        width: 85%;
        margin-left: 7.5%;
    }

    .logo-footer {
        display: flex;
        justify-content: center;
        gap: 40%;
    }

    .search-footer {
        padding: 10px 35px;
        margin-top: 12%;
        border-radius: 12px;
        border: none;
    }
}

#footer h2 {
    margin-top: 0;
    margin-top: 10%;
}

.org-all-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
    margin-bottom: 5%;
}

.nav-footer {
    display: flex;
    gap: 100px;
    padding-right: 10%;
}

.nav-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-footer ul li strong {
    margin-bottom: 8px;
    font-size: 1.2em;
    display: inline-block;
}

.nav-footer ul li a {
    color: #969393;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.8;
}
.nav-footer ul li a:hover {
    background: linear-gradient(135deg, hwb(0 29% 71%), hwb(0 33% 67%));
    transform: translateY(-2px)
}

#footer p {
    color: white;
}

.pawnsplay-logo {
    margin-left: 4.1%;
    font-size: 1.2em;
}

.direitos {
    border-top: 2px solid rgb(199, 196, 196);

}

.direitos p {
    margin-bottom: 0;
    padding-bottom: 3%;
    padding-top: 2%;
}

.social-icons {
    width: 180px;
    display: fleX;
    gap: 10%;
    padding-top: 2%;
}

.social-icons img {
    width: 100%;
}

.ajuste-direitos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.social-icons a {
    display: inline-block;
    transition: transform 0.2s ease;
  }

  .social-icons a:hover {
    transform: translateY(-5px);
  }