body, header {
    margin: 0px;
    padding: 0px;
}

h1 {
    display: flex;
    align-items: center;
}

.patabranca{
    margin-right: 5px;
    width: 50px;
    height: 50%;
} 

.pataimg {
    height: 35px;
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("../img/cachorroMain.png");

    header {

        padding-inline: 16px ;
     
        .btn-primary {
         position: absolute;
         right: 70px;
         cursor: pointer;
         height: 45px;
         width: 125px;
         border-radius: 20px;
         border: none;
     }
     
     .nav {
         max-width: 1920px;
         height: 70px;
         margin-inline: auto ;
     
         display: flex;
     
         align-items: center;
     
         .logo   {
         padding-left: 5%;
         }
     
         .nav-list {
             display: flex;
             gap: 30px;
             list-style: none;

             .dropdown-menu {
                position: absolute;
                box-shadow: 0 0 2px black;
                display: none;
                background-color: #0364a5;
            }
            
            .dropdown-menu a{
                display: block;
            }
            
            .dropdown:hover .dropdown-menu{
                display: block;
            
            }
         }
         
         .nav-list a {
             color: #fff;
             padding-block: 16px;
             justify-content: start;
             text-decoration: none;
         }
     
     }
     }

     .nav-list ul li:hover>ul {
        display: block;
    }


    .hero-text {
        width: 40%;
        margin-left:5% ;
        margin-top: 7%;

        .btn-secondary {
            color: white;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            padding: 10px 30px ;
            border: 2px solid white;
            text-decoration: none;
            background: transparent;
            transition: all 0.3s ease;
            border-radius: 30px;
        }
    }
    
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    transition: 0.3s;
}

.container-shop {
    width: 85%;
    margin-left: 7.5%;

    .logo-shop {
        border-bottom: 2px solid rgb(199, 196, 196);
        margin-bottom: 3%;
    }

    .view-more {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        text-decoration: none;
    }
    
    .featured-products h3 {
        padding-left: 2%;
    }
    .tittle-searchbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;
        
        .btn-search {
            padding-top: 5%;
            padding-bottom: 5%;
            border-radius: 10px;
            background-image: url("../img/64673.png");
            background-color: #eeebeb;
            background-size: 15px;
            background-position: left 12px center;
            background-repeat: no-repeat;
            padding-left: 40px;
            border: none;
        }
    }

    .btn-filters {
        display: flex;
        justify-content: center;
        height: 40px;
        align-items: center;
    
        .btns-racao {
            border-radius: 15%;
            width: 80px;
            height: 80%;
            margin-left: 1%;
            border: none;
            cursor: pointer;
        }
    }
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 2%;

    .img-product {
        width: 30%;
    
        .img-list {
            width: 100%;
            height: 90%;
            padding-top: 5%;
            
        }
        
    }
}

.hidden {
    display: none;
}

.btns-racao:hover{
    background: #0364a5;
    transition: 0.5s;
}

button.active {
    background-color: rgb(7, 52, 82);
    color: white;
}

.product-card {
    position: relative;
    width: 150px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.product-card:hover .product-image {
    transform: scale(1.1); /*efeito de zoom*/
}

.product-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #494949b3;
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.product-card:hover .product-overlay {
    opacity: 1;
    transform: translateY(0); /*animação para aparecer suavemente*/
}

.add-to-cart {
    background: rgb(7, 52, 82);
    color: white;
    border: none;
    padding: 5px 10px;
    height: 35%;
    width: 35%;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.add-to-cart:hover {
    background: #0056b3;
}


.fav-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-btn:focus {
    outline: none;
}

.heart-icon {
    width: 1.5rem;
  height: 1.5rem;
  color: #9ca3af;
  transition: all 0.2s ease;
  margin-right: 25px;
}

.heart-icon.active {
    color: #ef4444;
    fill: #ef4444;
  }
  


.fav-btn:hover {
    color: red; /* Muda a cor ao passar o mouse */
}

.quantity-container {
    display: flex;
    align-items: center;
    background-color: rgb(7, 52, 82);
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
    width: 15%;
   
}

.quantity-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    
    border-radius: 5px;
}

.quantity-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#quantity {
    color: white;
    font-size: 18px;
}

.btn-cart {
    height: 20%;
    width: 100%;
    margin-top: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.price {
    float: left;
    padding-left: 10%;
    padding-top: 5%;
}

.desc   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 0%;
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
        z-index: 1;
        position: absolute;
        right: 20px;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #0371bb;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
         
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .btn-primary {
        display: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
