
h1 {
    font-size: 1.4em;
    color: white;
    font-family: 'Montserrat';
}

.nav-list   {
    font-family: 'Montserrat';
    
}

.nav-list a {
    font-size: 18px;
}

p {
    color: white;
    font-family: "Montserrat";
}

.btn-primary {
    font-family:'Montserrat' ;
}

.hero-text h1 {
    font-size: 3.3em;
}

.hero-text p {
    font-size: 1.23em;
}