
h1 {
    font-size: 1.4em;
    color: white;
    font-family: 'Montserrat';
}

h2 {
    font-family: "Montserrat";
}

h3{
    font-family: "Montserrat";
}

.nav-list   {
    font-family: 'Montserrat';
    
}

.nav-list a {
    font-size: 18px;
}


.hero-text p {
    color: white;
}
p {
    color: black;
    font-family: "Montserrat";
}

.btn-primary {
    font-family:'Montserrat' ;
}

.hero-text h1 {
    font-size: 3.3em;
}

.hero-text p {
    font-size: 1.23em;
}

.view-more {
    color: black;
    font-family: "Montserrat";
}

.btn-secondary {
    font-family: "Montserrat";
}

.btns-racao {
    font-family: "Montserrat";
}

.btn-search {
    font-family: "Montserrat";
}
